//Variables
$negro: #000;
$blanco: white;
$pix20: 20px;
$pix10: 10px;

/* General */
*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
/* Fin General */

/* Body */
body{
    background-image: url(../media/fondo.png);
}
/* Fin Body */

/* Navbar */
.navbar{
    background-color: $negro;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
/* Fin Navbar */

/* Jumbotron */
.jumbotron{
    border-radius: 0;
    margin-bottom: 0;
    height:300px;
    background-image: url(../media/ruta1.jpg);
    background-size: cover;
    background-position: top center;
    animation-name: aparecer;
    animation-duration: 3s;
    animation-iteration-count: 1;
    h1{
        font-size: 275%;
        font-weight: 5%;
        text-shadow: 0 0 3px $negro;
    }
    h2{
    font-size: 175%;
    }
}
/* Fin Jumbotron */

/* Contenido */
.content{
    animation-name: aparecer;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.section{
    margin-left: 5px;
    margin-right: $pix10;
}
.subtitulo{
    height:60px;
    padding-top: $pix10;
    padding-left: $pix20;
    background-color: $negro;
    color: $blanco;
    font-size: 175%;
    margin-bottom: 0;
}
.subtitulo--small{
    height: 50px;
    font-size: 150%;
    margin-top: 40px;
}
.parrafo{
    background-color: $blanco;
    font-size: 125%;
    text-align: left;
    line-height: 30px;
    margin-bottom: $pix10;
    padding-right: 0;
}
.parrafo--lista{
    padding-left: 30px;
}
.parrafo--listaUl{
    list-style: none;
}
.productos{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tarjeta{
    margin-top: $pix20;
}
.form{
    margin: 20px;
    font-weight: 500;
    div{
        label{
            color: $negro;
            text-shadow: 0 0 2px $blanco;
        }
    }
}

.pedidos{
    display: flex;
    flex-direction: row;
}
.mapa{
    width: 40%;
    height: 40%;
    background-image: url(../media/mapa.jpg);
    background-size: cover;
}
/* Fin Contenido */

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $negro;
    height: 80px;
    margin-top: 50px;
    font-size: $pix20;
    p {
        line-height: 30px;
        color: $blanco;
    }
    div{
        a {
            color: $blanco;
            margin: 3px;
        }
    }
}
.icons {
    font-size: 130%;
}
.whatsapp {
    height: 46px;
    width: 44px;
    background-color: #3ec34f;
    border-radius: 50%;
}
.fa-whatsapp{
    color: $blanco;
    font-size: 49px;
    position: fixed;
    bottom: 5%;
    right: 2%;
}
/* Fin Footer */

/* Animaciones */
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* Fin Animaciones */

// Media queries
@media only screen and (min-width:320px) and (max-width:890px){
    #pedidos{
        display:flex;
        flex-direction: column;
    }
}