/* General */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Fin General */
/* Body */
body {
  background-image: url(../media/fondo.png);
}

/* Fin Body */
/* Navbar */
.navbar {
  background-color: #000;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.linkActive {
  color: #ee7e33 !important;
}

.navbar-brand:hover, .nav-link:hover {
  color: #ee7e33 !important;
}

/* Fin Navbar */
/* Jumbotron */
.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  height: 300px;
  background-image: url(../media/ruta1.jpg);
  background-size: cover;
  background-position: top center;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.jumbotron h1 {
  font-size: 275%;
  font-weight: 5%;
}

.jumbotron h2 {
  font-size: 175%;
}

/* Fin Jumbotron */
/* Contenido */
.content {
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.section {
  margin-left: 5px;
  margin-right: 10px;
}

.subtitulo {
  height: 60px;
  background-color: #000;
  padding-top: 10px;
  padding-left: 20px;
  color: white;
  font-size: 175%;
  margin-bottom: 0;
}

.subtitulo--small {
  height: 50px;
  font-size: 150%;
  margin-top: 40px;
}

.parrafo, .parrafo--lista {
  background-color: white;
  font-size: 125%;
  text-align: left;
  line-height: 30px;
  margin-bottom: 10px;
  padding-right: 0;
}

.parrafo--lista {
  padding-left: 30px;
}

.parrafo--listaUl {
  list-style: none;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  width: 26rem;
  height: 40rem;
  margin-top: 20px;
  background-color: #504835;
  color: white;
  border-radius: 0;
  -webkit-box-shadow: 5px 5px 17px 0px rgba(43, 42, 42, 0.6);
          box-shadow: 5px 5px 17px 0px rgba(43, 42, 42, 0.6);
}

.card-title {
  font-size: 30px;
}

.card-body {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}

.list-group-item {
  background-color: #504835;
  color: white;
  padding-left: 20px;
  padding: 7px;
}

.formulario {
  margin: 30px;
  padding: 10px;
  background-color: #ca7213;
  height: 100%;
}

.form {
  margin: 20px;
  font-weight: 500;
}

.form div label {
  color: #f2ece6;
  font-size: 20px;
}

.form div input {
  background-color: #504835;
  border-radius: 0;
  border: 0;
}

.form div input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.699);
}

.form div input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.699);
}

.form div input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.699);
}

.form div input::placeholder {
  color: rgba(255, 255, 255, 0.699);
}

.form div select {
  background-color: #504835;
  border-radius: 0;
  border: 0;
}

.form div select option {
  background-color: #504835;
}

.form div select option:hover {
  background-color: #413a2b;
}

.form div #exampleFormControlSelect1 {
  background-color: #504835;
  border-radius: 0;
  border: 0;
  color: #d8c5b4;
  -webkit-transition: none;
  transition: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form div #exampleFormControlTextarea1 {
  background-color: #504835;
  border-radius: 0;
  border: 0;
}

.form div #exampleFormControlTextarea1::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.699);
}

.form div #exampleFormControlTextarea1:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.699);
}

.form div #exampleFormControlTextarea1::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.699);
}

.form div #exampleFormControlTextarea1::placeholder {
  color: rgba(255, 255, 255, 0.699);
}

.form-check-input {
  margin-top: 0.6rem;
}

.btn-light {
  background-color: #d8c5b4;
  border-radius: 0.25;
  border: 0;
  -webkit-box-shadow: 4px 4px 6px 0px #545351;
          box-shadow: 4px 4px 6px 0px #545351;
}

.pedidos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mapa {
  width: 40%;
  height: 40%;
  background-image: url(../media/mapa.jpg);
  background-size: cover;
}

/* Fin Contenido */
/* Footer */
footer {
  height: 80px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  font-size: 20px;
}

footer p {
  line-height: 30px;
  color: white;
}

footer div a {
  color: white;
  margin: 3px;
}

.icons {
  font-size: 130%;
}

.whatsapp {
  height: 46px;
  background-color: #3ec34f;
  width: 44px;
  border-radius: 50%;
}

.fa-whatsapp {
  color: white;
  font-size: 49px;
  position: fixed;
  bottom: 5%;
  right: 2%;
}

/* Fin Footer */
/* Animaciones */
@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fin Animaciones */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .jumbotron h1 {
    font-size: 200%;
  }
  .jumbotron h2 {
    font-size: 100%;
  }
  .subtitulo {
    height: 45px;
    font-size: 120%;
  }
  .parrafo, .parrafo--lista {
    font-size: 100%;
  }
  div label {
    font-size: 15px;
  }
  div .btn {
    font-size: 15px;
  }
  div input::-webkit-input-placeholder, div #exampleFormControlSelect1, div #exampleFormControlTextarea1 {
    font-size: 12px;
  }
  div input:-ms-input-placeholder, div #exampleFormControlSelect1, div #exampleFormControlTextarea1 {
    font-size: 12px;
  }
  div input::-ms-input-placeholder, div #exampleFormControlSelect1, div #exampleFormControlTextarea1 {
    font-size: 12px;
  }
  div input::placeholder, div #exampleFormControlSelect1, div #exampleFormControlTextarea1 {
    font-size: 12px;
  }
  #pedidos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    font-size: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: normal;
  }
  footer p {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .jumbotron h1 {
    font-size: 250%;
  }
  .jumbotron h2 {
    font-size: 150%;
  }
  div label {
    font-size: 20px;
  }
  div input::-webkit-input-placeholder, div #exampleFormControlSelect1, div #exampleFormControlTextarea1 {
    font-size: 15px;
  }
  div input:-ms-input-placeholder, div #exampleFormControlSelect1, div #exampleFormControlTextarea1 {
    font-size: 15px;
  }
  div input::-ms-input-placeholder, div #exampleFormControlSelect1, div #exampleFormControlTextarea1 {
    font-size: 15px;
  }
  div input::placeholder, div #exampleFormControlSelect1, div #exampleFormControlTextarea1 {
    font-size: 15px;
  }
}
/*# sourceMappingURL=estilos.css.map */